*.py[co]

# Packages
*.egg
*.egg-info
dist
*build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
pip-wheel-metadata/
__pycache__/

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage*
.tox
.travis*requirements*
coverage.xml

#Translations
*.mo

#Mr Developer
.mr.developer.cfg

#Virtualenv
env/
venv/
.venv/

#Editor temporaries
*~

*.swp
*.save
*.db
*cache/

# vim
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~

.eggs/README.txt

# Mac
.DS_Store

# Linux
.directory

# Pycharm files
.idea/

# VScode
.vscode/

### Emacs template
# -*- mode: gitignore; -*-
# *~
**/*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*
