include .editorconfig
include AUTHORS
include CHANGES.rst
include CONTRIBUTING.rst
include LICENSE
include README.rst
include babel.ini
include pytest.ini
include tox.ini
include requirements/*.txt
include flask_security/py.typed
graft examples
graft docs
graft flask_security/templates
graft flask_security/translations
graft flask_security/static
graft tests
prune tests/.pytest_cache
prune tests/.DS_Store
recursive-exclude tests/.pytest_cache *
exclude .coverage tests/.coverage
prune docs/_build
prune scripts
global-exclude *.pyc
