include .editorconfig
include AUTHORS
include CHANGES.rst
include CONTRIBUTING.rst
include LICENSE
include README.rst
include babel.ini
include pytest.ini
include tox.ini
include requirements.txt
include requirements/*.txt
graft docs
graft flask_security/templates
graft flask_security/translations
graft tests
exclude .coverage tests/.coverage
prune docs/_build
prune scripts
prune examples
global-exclude *.pyc .DS_Store
