[build-system]
requires = ["setuptools"]
build-backend = "setuptools.build_meta"

[project]
name = "Flask-Security-Too"
description = "Quickly add security features to your Flask application."
readme.content-type = "text/x-rst"
readme.file = "README.rst"
keywords = ["flask security"]
# license = "MIT"
maintainers = [{ name = "Chris Wagner", email = "jwag.wagner+github@gmail.com"}]
authors = [{ name = "Matt Wright"}, { name = "Chris Wagner", email = "jwag.wagner+github@gmail.com"}]
requires-python = ">=3.8"
urls.Documentation = "https://flask-security-too.readthedocs.io"
urls.Homepage = "https://github.com/Flask-Middleware/flask-security"
urls.Source = "https://github.com/Flask-Middleware/flask-security"
urls.Tracker = "https://github.com/Flask-Middleware/flask-security/issues"
urls.Releases = "https://pypi.org/project/Flask-Security-Too/"
classifiers=[
    "Environment :: Web Environment",
    "Framework :: Flask",
    "Intended Audience :: Developers",
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent",
    "Programming Language :: Python",
    "Topic :: Internet :: WWW/HTTP :: Dynamic Content",
    "Topic :: Software Development :: Libraries :: Python Modules",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "Programming Language :: Python :: Implementation :: CPython",
    "Programming Language :: Python :: Implementation :: PyPy",
    "Development Status :: 5 - Production/Stable",
]
dynamic = [
  "version",
]
dependencies = [
    # flask dependencies include werkzeug, jinja2, itsdangerous, click, blinker
    "Flask>=2.3.0",
    "Flask-Login>=0.6.2",
    "Flask-Principal>=0.4.0",
    "Flask-WTF>=1.1.1",
    "email-validator>=1.1.1",
    "passlib>=1.7.4",
    "wtforms>=3.0.0",  # for form-level errors
    "importlib_resources>=5.10.0",
]

[project.optional-dependencies]
babel = ["babel>=2.12.1", "flask_babel>=3.1.0"]
fsqla = ["flask_sqlalchemy>=3.0.3", "sqlalchemy>=2.0.12", "sqlalchemy-utils>=0.41.1"]
common = ["bcrypt>=4.0.1", "flask_mailman>=0.3.0", "bleach>=6.0.0"]
mfa = ["cryptography>=40.0.2", "qrcode>=7.4.2", "phonenumberslite>=8.13.11", "webauthn>=1.9.0"]
low = [
    # Lowest supported versions
    "Flask==2.3.2",
    "Flask-SQLAlchemy==3.0.3",
    "Flask-Babel==3.1.0",
    "Flask-Mailman==0.3.0",
    "Flask-Login==0.6.2",
    "Flask-WTF==1.1.1",
    "peewee==3.16.2",
    "argon2_cffi==21.3.0",
    "authlib==1.2.0",
    "babel==2.12.1",
    "bcrypt==4.0.1",
    "bleach==6.0.0",
    "python-dateutil==2.8.2",
    "jinja2==3.1.2",
    "itsdangerous==2.1.2",
    "markupsafe==2.1.2",
    "mongoengine==0.27.0",
    "mongomock==4.1.2",
    "pony==0.7.16;python_version<'3.11'",
    "phonenumberslite==8.13.11",
    "qrcode==7.4.2",
    # authlib requires requests
    "requests",
    "sqlalchemy==2.0.12",
    "sqlalchemy-utils==0.41.1",
    "webauthn==1.9.0",
    "werkzeug==2.3.3",
    "zxcvbn==4.4.28"
]

[tool.setuptools.dynamic]
version = {attr = "flask_security.__version__"}
