{% extends "security/base.html" %}
{% from "security/_macros.html" import render_field_with_errors, render_field, render_field_errors, render_form_errors %}

{% block content %}
  {% include "security/_messages.html" %}
  <h1>{{ _fsdomain('Change password') }}</h1>
  <form action="{{ url_for_security('change_password') }}" method="post" name="change_password_form">
    {{ change_password_form.hidden_tag() }}
    {{ render_form_errors(change_password_form) }}
    {% if active_password %}
      {{ render_field_with_errors(change_password_form.password) }}
    {% else %}
      <h3>{{ _fsdomain('You do not currently have a password - this will add one.') }}</h3>
    {% endif %}
    {{ render_field_with_errors(change_password_form.new_password) }}
    {{ render_field_with_errors(change_password_form.new_password_confirm) }}
    {{ render_field_errors(change_password_form.csrf_token) }}
    {{ render_field(change_password_form.submit) }}
  </form>
{% endblock content %}
