{#
  This template receives the following pieces of context in addition to the form:
#}

{% extends "security/base.html" %}
{% from "security/_macros.html" import render_field_with_errors, render_field, render_field_errors %}

{% block head_scripts %}
  {{ super() }}
  <script src="{{ url_for('static', filename='js/webauthn.js') }}"
          xmlns="http://www.w3.org/1999/html"></script>
  <script src="{{ url_for('static', filename='js/base64.js') }}"></script>
{% endblock head_scripts %}

{% block styles %}
    {{ super() }}
    <style>
        .center { text-align: center }
        .important { font-size: larger; font-weight: bold }
    </style>
{% endblock %}

{% block content %}
    {% include "security/_messages.html" %}
    <h1>{{ _fsdomain("Sign in using WebAuthn Security Key") }}</h1>
    <form action="{{ url_for_security("wan_signin") }}" method="POST"
          name="wan_signin_form" id="wan-signin-form">
      {{ wan_signin_form.hidden_tag() }}
      {{ render_field_with_errors(wan_signin_form.remember) }}
      {{ render_field(wan_signin_form.submit) }}
      <span id="wan-error"></span>
      <input type="hidden" name="url" value="{{ url_for_security("wan_signin") }}" readonly>
      <input type="hidden" name="response_url" value="{{ url_for_security("wan_signin_response") }}" readonly>
    </form>
{% endblock %}
