{#
  This template receives the following pieces of context in addition to the form:
#}

{% extends "security/base.html" %}
{% from "security/_macros.html" import render_field_with_errors, render_field, render_field_errors %}

{% block head_scripts %}
  {{ super() }}
  <script src="{{ url_for('static', filename='js/webauthn.js') }}"
          xmlns="http://www.w3.org/1999/html"></script>
  <script src="{{ url_for('static', filename='js/base64.js') }}"></script>
{% endblock head_scripts %}

{% block content %}
  {% include "security/_messages.html" %}
  <h1>{{ _fsdomain("Setup New WebAuthn Security Key") }}</h1>
  {% if not credential_options %}
    {# Initial form to get CreateOptions #}
    <form action="{{ url_for_security("wan_register") }}" method="POST"
            name="wan_register_form" id="wan-register-form">
        {{ wan_register_form.hidden_tag() }}
        {{ render_field_with_errors(wan_register_form.name) }}
        {{ render_field(wan_register_form.submit) }}
    </form>
  {% else %}
    <form action="{{ url_for_security("wan_register_response", token=wan_state) }}" method="POST"
          name="wan_register_response_form" id="wan-register-response-form">
      {{ wan_register_response_form.hidden_tag() }}
    </form>
      <script type="text/javascript">
        handleRegister('{{ credential_options|safe }}', "credential")
        .then((credential) => {
          document.getElementById("credential").value = credential
          {# We auto-submit this form - there is a Submit button on the
             form we could use - but there really isn't any reason to force the
             user to click yet another button
           #}
          document.forms["wan-register-response-form"].submit()
        })
      </script>
  {% endif %}

  {% if registered_credentials %}
    <h3>Currently registered credentials:</h3>
    <ul>
      {% for name, value in registered_credentials.items() %}
        <li>Nickname: "{{ name }}" transports: "{{ value.transports }}" discoverable: "{{ value.discoverable }}" last used on {{ value.lastuse }}</li>
      {% endfor %}
    </ul>
  {% endif %}

  {% if wan_delete_form %}
    <hr>
    <h2>{{ _fsdomain("Delete existing WebAuthn Security Key") }}</h2>
      <form action="{{ url_for_security("wan_delete") }}" method="POST"
            name="wan_delete_form">
        {{ wan_delete_form.hidden_tag() }}
        {{ render_field_with_errors(wan_delete_form.name) }}
        {{ render_field(wan_delete_form.submit) }}
      </form>
  {% endif %}
{% endblock %}
