

name: tests
on:
  push:
    branches:
      - master
      - "[0-9]+.[0-9]+.x"
  pull_request:
    branches:
      - master
      - "[0-9]+.[0-9]+.x"

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  tests:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - {python: '3.6', tox: 'py36-release'}
          - {python: '3.6', tox: 'py36-low'}
          - {python: '3.7', tox: 'py37-release'}
          - {python: '3.7', tox: 'py37-low'}
          - {python: '3.8', tox: 'py38-release'}
          - {python: '3.8', tox: 'py38-low'}
          - {python: '3.9', tox: 'py39-release'}
          - {python: '3.9', tox: 'py39-low'}
          - {python: 'pypy3', tox: 'pypy3-release'}
          - {python: 'pypy3', tox: 'pypy3-low'}

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python }}
      - name: update pip
        run: |
          pip install -U wheel setuptools
          python -m pip install -U pip
      - name: get pip cache dir
        id: pip-cache
        run: echo "::set-output name=dir::$(pip cache dir)"
      - name: cache pip
        uses: actions/cache@v1
        with:
          path: ${{ steps.pip-cache.outputs.dir }}
          key: pip|${{ runner.os }}|${{ matrix.python }}|${{ hashFiles('setup.py') }}|${{ hashFiles('tox.ini') }}|${{ hashFiles('requirements/*.txt') }}
      - name: run tests
        run: |
          pip install tox
          tox -e ${{ matrix.tox }}

  other:
      runs-on: ubuntu-latest
      strategy:
        fail-fast: false

      steps:
        - uses: actions/checkout@v2
        - uses: actions/setup-python@v2
          with:
            python-version: "3.8"
        - name: update pip
          run: |
            pip install -U wheel setuptools
            python -m pip install -U pip
        - name: Style, docs, mypy, nobabel
          run: |
            pip install tox
            tox -e style -e docs -e nobabel -e mypy
        - name: Coverage
          run: |
            pip install tox coverage
            tox -e coverage
        - name: Upload coverage to Codecov
          uses: codecov/codecov-action@v1
          with:
            fail_ci_if_error: false
  realdb:
      runs-on: ubuntu-latest
      strategy:
        fail-fast: false

      services:
        postgres:
          image: postgres:latest
          env:
            POSTGRES_USER: postgres
            POSTGRES_PASSWORD: testpw
            POSTGRES_DB: testdb
          ports:
            - 5432:5432
          options: >-
            --health-cmd pg_isready
            --health-interval 10s
            --health-timeout 5s
            --health-retries 5
      steps:
        - uses: actions/checkout@v2
        - uses: actions/setup-python@v2
          with:
            python-version: "3.8"
        - name: update pip
          run: |
            pip install -U wheel setuptools
            python -m pip install -U pip
        - name: get pip cache dir
          id: pip-cache
          run: echo "::set-output name=dir::$(pip cache dir)"
        - name: cache pip
          uses: actions/cache@v1
          with:
            path: ${{ steps.pip-cache.outputs.dir }}
            key: pip|${{ runner.os }}|${{ hashFiles('setup.py') }}|${{ hashFiles('tox.ini') }}|${{ hashFiles('requirements/*.txt') }}
        - name: Postgres
          run: |
            pip install tox
            tox -e realpostgres -- --realdburl='postgresql://postgres:testpw@localhost:5432/testdb'
